requests==2.31.0
jmespath==1.0.1
pygrok==1.0.0
PyYAML==6.0
regex==2023.6.3
# aws-lambda-powertools 1.31.0 fixes a problem where metrics were lacking dimension
# https://github.com/awslabs/aws-lambda-powertools-python/releases/tag/v1.31.0
aws-lambda-powertools==2.15.0
jsonslicer==0.1.8
Jinja2==3.1.2
# botocore does not yet suport urllib3 in version 2.0.0 or higher. 
# Check this ticket for more information: https://github.com/boto/botocore/issues/2926
urllib3<2